form {

	display: flex;
	flex-flow: column nowrap;
	align-items: center;

	label, button {
		max-width: 400px;
		width: 95%;
	}

	button, input:not([type=checkbox]):not([type=radio]) {
		height: 50px;
		border-radius: $border-radius;
	}

	label {

		color: $secondary_text;
		font-size: 16px;
		margin-bottom: 20px;

		input:not([type=checkbox]):not([type=radio]), select {
			width: 100%;
			background-color: #fff;
			margin-top: 5px;
			text-indent: 15px;
		}

	}

	button {
		color: #fff;
		font-weight: 600;
		font-size: 20px;
		text-transform: uppercase;
		background-repeat: no-repeat;
		background-size: 0px;
		background-position: center;
		background-image: url(/assets/load-dots.svg);

		&.main-red {
			background-color: $main_red;
		}

		&[aria-busy] {
			color: transparent;
			background-size: 40px;
		}

	}

}
