form {

	display: flex;
	flex-flow: column nowrap;
	align-items: center;

	&[aria-hidden] {
		display: none;
	}

	#formError {
		color: #D64545;
		margin-bottom: 30px;
		font-size: 14px;

		&:empty {
			display: none;
		}

	}

	label, button {
		max-width: 400px;
		width: 95%;
		cursor: pointer;
	}

	button, input:not([type=checkbox]):not([type=radio]) {
		height: 50px;
		border-radius: $border-radius;
	}

	label {

		color: $secondary_text;
		font-size: 16px;
		margin-bottom: 20px;

		input:not([type=checkbox]):not([type=radio]), select {
			
			width: 100%;
			background-color: #fff;
			margin-top: 5px;
			text-indent: 15px;
			font-size: 12px;
			color: $secondary_text;

			&::placeholder {
				font-size: 12px;
				color: #BCCCDC;
			}

			&::-webkit-input-placeholder {
				font-size: 12px;
				color: #BCCCDC;
			}

			&::-moz-placeholder {
				font-size: 12px;
				color: #BCCCDC;
			}

			&::-ms-input-placeholder {
				font-size: 12px;
				color: #BCCCDC;
			}

			&:focus {

				&::placeholder {
					color: transparent;
				}

				&::-webkit-input-placeholder {
					color: transparent;
				}

				&::-moz-placeholder {
					color: transparent;
				}

				&::-ms-input-placeholder {
					color: transparent;
				}

			}

		}

		select, input[type=checkbox], input[type=radio] {
			cursor: pointer;
		}

		&.margin-top {
			margin-top: 10px;
		}

		&.seperate {

			input {
				margin-left: 15px;
			}

		}

	}

	button {
		color: #fff;
		font-weight: 600;
		font-size: 20px;
		text-transform: uppercase;
		background-repeat: no-repeat;
		background-size: 0px;
		background-position: center;
		background-image: url(/assets/load-dots.svg);

		&.main-red {
			background-color: $main_red;
		}

		&[aria-busy] {
			color: transparent;
			background-size: 40px;
			pointer-events: none;
			cursor: not-allowed;
		}

	}

}
