* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	border: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-overflow-scrolling: touch;
	font-family: 'Montserrat', sans-serif;
	&:focus {
		outline: none;
	}
}

html, body {
	overflow-x: hidden;
}

body {
	background-color: #F0F4F8;
}

a {
	text-decoration: none;
}

a, button {
	cursor: pointer;
}

img {
	max-width: 100%;
	height: auto;
}

$dark_text: #102A43;
$secondary_text: #243B53;
$main_red: #8D2B0B;
$border-radius: 4px;
